<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cadastrar</title>
  </head>

  <body>
    {% include 'menu.html' %}
    {% include 'msg.html' %}
    <div class="container">
      <h1>Cadastre-se</h1>
      <form method="POST" action="{% url 'cadastrar' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Endereço de e-mail</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            name="email"
            value="{{ request.POST.email}}"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input
               type="text"
            class="form-control"
            name="nome"
            value="{{ request.POST.nome}}"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Sobrenome</label>
          <input type="text"
            class="form-control"
            name="sobrenome"
            value="{{ request.POST.sobrenome}}"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="usuario"
            value="{{ request.POST.usuario}}"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            name="senha1"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Confirme sua senha</label>
          <input
            type="password"
            class="form-control"
            name="senha2"
          />
          <div id="emailHelp" class="form-text">
            Conosco, seus dados estarão seguros! 🔒
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </body>
</html>
