{% load static %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img_carro/bg.jpg' %}" height="300px" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img_carro/ilha.jpg' %}" height="300px" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img_carro/lake.jpg' %}" height="300px" class="d-block w-100">
    </div>
  </div>
</div>